@import '../../styles/help.scss';

.task-block {
	box-sizing: border-box;
	width: 100%;
	padding: 15px 10px 15px 20px;
}
.task-block:nth-child(even) {
	background: rgb(72,80,101);
	background: linear-gradient(259deg, rgba(72,80,101,0.2) 0%, rgba(72,80,101,1) 100%);
}
.task-block.important {
	background: rgb(180,136,221);
	background: linear-gradient(90deg, rgba(180,136,221,1) 0%, rgba(180,136,221,0.2) 50%);
}
.task-details {
	position: relative;
	display: flex;
	align-items: center;
}
.task-block.important .task-details::before {
	background-color: $white-color;
}
.task-details::before {
	content: '';
	@include width-height(10px,10px);
	margin-right: 15px;
	display: block;
	background-color: $secondary-color;
	border-radius: 50%;
}
.task-name {
	@include text(20px,$white-color,'Inter',700);
}
.task-block.important .task-time {
	color: $white-color;
}
.task-time {
	@include text(14px,$main-text-color,'Inter',600);
}
.fa-star {
	font-size: 20px;
	color: $secondary-color;
	position: absolute;
	right: 20px;
	cursor: pointer;
}

.fa-trash {
	font-size: 24px;
	color: $secondary-color;
	position: absolute;
	right: 50px;
	display: none;
	cursor: pointer;
}
.task-block:hover .fa-trash {
	display: block;
}

@media screen and (max-width:700px) {
	.task-block {
		padding: 10px 5px 10px 15px;
	}
	.task-details::before {
		content: '';
		@include width-height(8px,8px);
		margin-right: 8px;
	}
	.task-name {
		@include text(16px,$white-color,'Inter',700);
	}
	.task-time {
		@include text(12px,$main-text-color,'Inter',600);
	}
	.fa-star {
		font-size: 15px;
	}
	.fa-trash {
		font-size: 15px;
	}
}