@import '../../styles/help.scss';

main {
	@include bg($primary-color,0);
	@include width-height(1290px,100vh);
	margin: 0 auto;
	display: flex;
}
@media screen and (max-width: 1024px) {
	main {
		@include width-height(768px);
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 700px) {
	main {
		@include width-height(300px);
	}
}