@import '../../styles/base.scss';

.day-tasks {
	height: 90vh;
	position: relative;
	width: 400px;
	overflow-y: auto;
	scrollbar-width: thin;
}
.day-tasks::-webkit-scrollbar {
	width: 0;
  }
.date {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 40px;
	background-color: $primary-color;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
}
.date h2 {
	margin: 0;
	color: $white-color;
	font-size: 30px;
	font-weight: 600;
}
.date p {
	margin: 0;
	color: $text-color3;
	font-style: italic;
}
.fa-square-plus {
	position: sticky;
	bottom: 30px;
	left: 340px;
	font-size: 40px;
	color: $text-color3;
	cursor: pointer;
	margin-top: 15px;
}
@media screen and (max-width: 1024px) {
	.day-tasks {
		height: 100vh;
		width: 600px;
		overflow: visible;
	}
	.fa-square-plus {
		bottom: 30px;
		left: 625px;
	}
}